html {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    width: 100%;
    opacity: 1;
    margin: auto;
    background: #F9F9FB 0% 0% no-repeat padding-box;
}

.navbar {
    top: 0px;
    left: 0px;
    height: 80px;
    background: transparent linear-gradient(90deg, #748EFC 0%, #3B4D9A 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navbar_text {
    top: 38px;
    left: 567px;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1;
}

.page_header {
    font-size: 24px;
    font-weight: bold;
    float: left;
    color: #191B2C;
    opacity: 1;
    margin: 4px 0px;
}

.createpage_header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #191B2C;
    opacity: 1;
    margin: 5px;
}

.create_button {
    padding: 5px;
    border: 1px solid #8599A8;
    border-radius: 8px;
    float: right;
    opacity: 1;
    text-decoration: none;
}

.createpage_button {
    width: 100%;
    height: 53px;
    padding: 5px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px white;
    border: 1px solid #8599A8;
    border-radius: 8px;
    opacity: 1;
    text-decoration: none;
}

.createpage_button:hover {
    width: 100%;
    height: 53px;
    padding: 5px;
    background: white;
    box-shadow: 0px 5px 20px white;
    border: 1px solid #8599A8;
    border-radius: 8px;
    float: center;
    opacity: 1;
    text-decoration: none;
}

.create_text {
    margin: auto;
    padding: 5px;
    font-size: 17px;
    color: #8599A8;
    opacity: 1;
    text-decoration: none;
}

.card {
    height: 400px;
    box-shadow: 0px 10px 25px #00000008;
    border-radius: 8px;
    opacity: 1;
}

.card_photo {
    top: 300px;
    left: 283px;
    width: 115px;
    height: 115px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #00000029;
    opacity: 1;
}

.detailpage_photo {
    top: 300px;
    left: 283px;
    width: 115px;
    height: 115px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #00000029;
    opacity: 1;
}

.card_username {
    top: 454px;
    left: 276px;
    height: 25px;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    color: #191B2C;
    opacity: 1;
}

.detailpage_username {
    top: 454px;
    left: 276px;
    height: 25px;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    color: #191B2C;
    opacity: 1;
}

.card_email {
    top: 493px;
    left: 247px;
    height: 21px;
    font-size: 16px;
    margin: auto;
    letter-spacing: 0px;
    color: #8A8B8D;
    opacity: 1;
}

.detailpage_email {
    top: 493px;
    left: 247px;
    height: 21px;
    font-size: 16px;
    margin: auto;
    letter-spacing: 0px;
    color: #8A8B8D;
    opacity: 1;
}

.card_button {
    top: 560px;
    left: 252px;
    width: 177px;
    margin: auto;
    height: 53px;
    border: 1px solid #8599A8;
    border-radius: 5px;
    opacity: 1;
}

.card_button:hover {
    top: 560px;
    left: 632px;
    width: 177px;
    height: 53px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #748EFC80;
    border-radius: 5px;
    opacity: 1;
    text-decoration: none;
}

.card_text {
    top: 576px;
    left: 313px;
    height: 21px;
    font-size: 16px;
    margin: auto;
    letter-spacing: 0px;
    color: #8599A8;
    opacity: 1;
}

.detailpage_button {
    top: 560px;
    left: 252px;
    width: 177px;
    margin: auto;
    height: 53px;
    border: 1px solid #8599A8;
    border-radius: 5px;
    opacity: 1;
}

.detailpage_button:hover {
    top: 560px;
    left: 632px;
    width: 177px;
    height: 53px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #748EFC80;
    border-radius: 5px;
    opacity: 1;
    text-decoration: none;
}

.detailpage_text {
    top: 576px;
    left: 313px;
    height: 21px;
    font-size: 16px;
    margin: auto;
    letter-spacing: 0px;
    color: #8599A8;
    opacity: 1;
}

.createpage_placeholder {
    width: 330px;
    height: 43px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #748EFC80;
    border-radius: 5px;
    opacity: 1;
    margin: 10px;
}

.createpage_placeholdertext {
    width: 100%;
    height: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.createpage_job {
    width: 330px;
    height: 43px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #748EFC80;
    border-radius: 5px;
    opacity: 1;
    margin: 10px;
}

.createpage_jobtext {
    width: 100%;
    height: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.createpage_createbutton {
    width: 330px;
    height: 43px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #748EFC80;
    border-radius: 5px;
    opacity: 1;
    margin: 10px;
}

.createpage_createbuttontext {
    width: 100%;
    height: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.createpage_backbutton {
    width: 330px;
    height: 43px;
    background: #748EFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #748EFC80;
    border-radius: 5px;
    opacity: 1;
    margin: 10px;
}

.createpage_backbuttontext {
    width: 100%;
    height: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.previous_button {
    top: 1170px;
    left: 518px;
    width: 55px;
    height: 55px;
    margin-left: 430px;
    border: 1px solid #D6DCE3;
    border-radius: 50%;
    opacity: 1;
}

.previous_arrow {
    top: 1192px;
    left: 543px;
    width: 6px;
    height: 12px;
    border: 2px solid #8A8B8D;
    opacity: 1;
}

.first_page {
    top: 1170px;
    left: 693px;
    width: 55px;
    height: 55px;
    border: 1px solid #D6DCE3;
    border-radius: 50%;
    opacity: 1;
}

.first_page:active {
    top: 1170px;
    left: 606px;
    width: 55px;
    height: 55px;
    background: #748EFC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.second_page {
    top: 1170px;
    left: 693px;
    width: 55px;
    height: 55px;
    border: 1px solid #D6DCE3;
    border-radius: 50%;
    opacity: 1;
}

.second_page:active {
    top: 1170px;
    left: 606px;
    width: 55px;
    height: 55px;
    background: #748EFC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.third_page {
    top: 1170px;
    left: 693px;
    width: 55px;
    height: 55px;
    border: 1px solid #D6DCE3;
    border-radius: 50%;
    opacity: 1;
}

.third_page:active {
    top: 1170px;
    left: 606px;
    width: 55px;
    height: 55px;
    background: #748EFC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.next_button {
    top: 1170px;
    left: 868px;
    width: 55px;
    height: 55px;
    border: 1px solid #D6DCE3;
    border-radius: 50%;
    opacity: 1;
}

.next-arrow {
    top: 1192px;
    left: 893px;
    width: 6px;
    height: 12px;
    border: 2px solid #8A8B8D;
    opacity: 1;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 74px;
    background: #040404 0% 0% no-repeat padding-box;
    opacity: 1;
}

.detailpage_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #040404 0% 0% no-repeat padding-box;
    opacity: 1;
}

.createpage_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #040404 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer_text {
    top: 1352px;
    left: 659px;
    height: 21px;
    text-align: center;
    margin-top: 4px;
    padding: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.4;
}